// document
html {background-color: $background-color;}

body {
  margin: 0;
  padding: 0;
  background: #fff6e4 url(/assets/images/texture.gif);
}

// text
// html elements are not styled by default, put .is-formatted 
// to a wrapper to get these styles. or use the individual helpers 
// text .is-formatted
.em, .is-formatted em,  .i, .is-formatted i {font-style:italic}
.strong, .is-formatted strong, .b, .is-formatted b {font-weight:bold}
.code, .is-formatted pre, .pre, .is-formatted pre {font-family:monospace}
.p, .is-formatted p {@extend .block;}
.blockquote, .is-formatted blockquote {padding:0.2em 1em 0.2em 2em; border-left:3px solid #eee;@extend .block;}
.big, .is-formatted big {font-size:1.125em}
.small, .is-formatted small{font-size:.875em}
.del, .is-formatted del {text-decoration:line-through}
.ul, .is-formatted ul, .ol, .is-formatted ol{@extend .block;}
.li {@extend .block;}
.is-formatted ul, .is-formatted ol {margin-left:2.5em;padding-left:1em;}
.is-formatted ul {list-style:disc;}
.is-formatted ol {list-style:decimal;}

.h1, .is-formatted h1,
.h2, .is-formatted h2,
.h3, .is-formatted h3,
.h4, .is-formatted h4,
.h5, .is-formatted h5,
.h6, .is-formatted h6{
  @extend .block;
}
.is-formatted h1,
.is-formatted h2,
.is-formatted h3,
.is-formatted h4,
.is-formatted h5,
.is-formatted h6 {margin-top:$space-2_5x;font-weight:bold;}

 
.is-formatted h1:first-child,
.is-formatted h2:first-child,
.is-formatted h3:first-child,
.is-formatted h4:first-child,
.is-formatted h5:first-child,
.is-formatted h6:first-child {margin-top:0;}

.is-formatted img {width:100%;@extend .block;}

// links
a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;
  @include transition(color .25s ease-out, border-color .25s ease-out, opacity .25s linear, background .25s ease-out);
  -webkit-backface-visibility: hidden;
  &:hover {
    color: $link-hover-color;
    @include transition(none);
    outline:none
  }
  &:active {
      outline:none;
  }
}

.link-white {
  color: #fff;
  &:hover {color: #fff; opacity: .7;}
}

.link-light {
  color: $link-light-color;
  &:hover {color: $link-light-hover-color;}
}

.link-dark {
  color: $link-dark-color;
  &:hover {color: $link-dark-hover-color;}
}


// divider
.divider {
	display:block;
  border-right: 1px solid #ccc;
  border-right: 1px solid rgba(0,0,0,.3);
}


// rules
.rule {
  float: left;
  border-style: solid;
  width: 100%;
  border: none;
  border-top: 1px solid #000;
  opacity:.2;
  margin: 0;
  clear:both;
}
.rule--double {
  position: absolute;
  top: 50%;
  left: auto;
  right: 0;
  width: 80%;
  height: 2px;
  margin-top: -2px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  opacity:.2;
}

