// vertical rhythm in pixels (returns pixels)
$base: 20; // vertical space unit
$space-0_5x: ($base/2) * 1px;
$space: $base*1px;
$space-1_5x: ($base * 1.5) * 1px;
$space-2x: ($base * 2) * 1px;
$space-2_5x: ($base * 2.5) * 1px;
$space-3x: ($base * 3) * 1px;
$space-4x: ($base * 4) * 1px;

$font-size: 16px;
$font-size-plain: 16;

// page & grid
$page-wrapper-width: 980px;
$grid-columns: 12;
$grid-column-width: (100% / $grid-columns);
$grid-gutter: 20px;


//colors
$background-color:#2b2b2d;
$link-color:#2989da;
$link-hover-color:#2989ff;
$link-dark-color:#ffffff;
$link-dark-hover-color:#ffffff;
$link-light-color:#ffffff;
$link-light-hover-color:#ffffff;
$selection-color:rgba(73,151,214,.8);

