.footing {
  @extend .script; 
  font-size: 21px;
  line-height: 40px;
  border-top: 1px solid #61b4d6;
  @extend .clearfix;
  text-transform: lowercase;
}
.footing-item {
  display: block;
  float: left;
  &:first-child{
    &:before {
      content: "\2190";
    }
  }
  &:last-child {
    &:before {
      content: "";
    }
    &:after {
      content: "\2192";
    }
  }

}
