.hero {
  position: relative;
  padding: 96px 0 48px 0;
}
.hero-badge {
  position: absolute;
  top: 0;
  right: 140px;
}
.hero-img {
  display: block;
  margin: 0 auto;
}
.hero-avatar {
  width: 50%;
  margin: 92px auto 48px auto;
  padding: 3px;
  background: $link-color;
  border-radius: 10000px;
  .hero-img {
    margin: 0px;
    width: 100%;
    border-radius: 10000px;
  }
}