.list-special {
    list-style: none;
    counter-reset: count;
    font-size: 21px;
    line-height: 1.5em;
    li {
      margin-bottom: 20px;
    }
    li:before {
      position: absolute;
      text-align: right;
      right: 100%;
      margin-right: 10px;
      content: counter(count,decimal) ".";
      counter-increment: count;
      color: #61b4d6;
      display: inline-block;
      width: 45px;
      height: 45px;
      font-weight: bold;
    }
    li:first-child {
      &:before {
        text-align: center;
        background: #61b4d6;
        border-radius: 10000px;
        color: #fff;
        font-size: 1.2em;
        line-height: 45px;
      }
    }
}
