@import "bourbon/_bourbon";
@import "normalize";
@import "flexslider";
@import "grid";
@import "nav";
@import	"icon";

*{
	@include box-sizing(border-box);
}
/*global*/
body {
	margin: 0;
	padding: 0;
	font-family: "rooney-sans", helvetica, arial ,sans-serif;
	background: #fff6e4 url(/assets/images/texture.gif);

}

h1 { 
	font-size: 1.5em; /*24px*/
	}

br {
	clear: both;
}

.script {
	 font-family: 'Pacifico', cursive;
}



#slideshow_container {
	margin-top: 40px;
}

