@import "bourbon/_bourbon";
@import "normalize";
@import "flexslider";
@import "grid";
@import "nav";

*{
	@include box-sizing(border-box);
}
/*global*/
body {
	margin: 0;
	padding: 0;
	font-family: "rooney-sans", helvetica, arial ,sans-serif;
	background: #fff6e4 url(/assets/images/texture.gif);

}

h1 { 
	font-size: 1.5em; /*24px*/
	}

br {
	clear: both;
}

.script {
	 font-family: 'Pacifico', cursive;
}



#slideshow_container {
	margin-top: 40px;
}

/*content*/
div[class~="con"] {
	color: #000;
	height: 250px;
	margin-bottom: 20px;
}

/*footer*/

.footer_background {
	width: 100vw;
	height: 100vw;
	max-height: 125px;
	position: absolute;
	top: 965px;
	background: #ff9563;
	z-index: -1;
	}

#footer {
	background: #ff9966;
	height: 125px; 
	bottom: 0;
	color: #fff;
	}

#footer ul {
	margin: 0 0 0 0;
	list-style-type: none;
	float: right;
	line-height: 125px;

}

#footer li {
	float: left;
	margin: 0 0 0 20px;
}

#footer li a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
}